body {
	text-align: center;
	margin: 0;
	padding: 0;
	background: url(../img/content_bg.png);
	font-size: 14px;
	font-family: Verdana;
	min-height: 100%;
}

.page {
	min-height: 460px;
	height: 100%;
}

.vcenter {
	height: 100%;
	text-align: center;
	width: 100%;
}
.vcenter  td {
	vertical-align: middle;
}
#loadingbox {
	display: inline-block;
	width: 120px;
	padding-top: 15px;
	background-color: #49708A;
	border: 9px solid #456A83;
	border-radius: 20px;
	color: white;
}
#loadingbox img {
	opacity: 1;
	-webkit-animation-name: pulse; 
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
	from {
		opacity: 1;
	}
	50% {
		opacity: 0.1;
	}
	to {
		opacity: 1;
	}
}
#header {
	background-color: #49708A;
	border-bottom: 9px solid #456A83;
	font-size: 2em;
	padding: 30px 0;
	margin-bottom: 20px;
}

#header img {
	width: 80%;
	margin: 0 auto;
}

.header_small {
	background-color: #49708A;
	border-bottom: 4px solid #456A83;
	padding: 2px 0 0 0;
	margin-bottom: 10px;
}

.header_small img {
	width: 35%;
	margin: 0 10px;
}

.button {
	display: inline-block;
	background-color: #49708A;
	border: 4px solid #456A83;
	border-radius: 10px;
	color: white;
	padding: 15px;
	font-size: 1.2em;
	margin: 10px auto 0 auto;
}

.disabled {
	color: #ddd;
	opacity: 0.4;
}

.text {
	background-color: #EBF7F8;
	border-radius: 3px;
	color: #49708A;
	margin: 0 auto;
	width: 80%;
	padding: 7px;
}

.card {
	display: inline-block;
	background-color: #49708A;
	border: 4px solid #456A83;
	border-radius: 10px;
	color: white;
	padding: 15px;
	font-size: 1.2em;
	margin: 10px auto 0 auto;
	text-align: center;
}
.card img {
	padding: 15px 0;
}

#follower .card {
	width: 170px;
	height: 230px;
}
#follower img {
	width: 128px;
	height: 128px;
}

.large .text {
	font-size: 1.2em;
}

.large .card {
	font-size: 1.4em;
}

.large #follower .card {
	width: 270px;
	height: 360px;
}
.large #follower img {
	width: 228px;
	height: 228px;
}

.card table {
	margin: 0 auto;
	width: 100px;
	color: white;
}

.team {
	height: 40px;
}

.large .team {
	height : 80px;
}

.opponent {
	display: inline-block;
	width: 80%;
	background-color: #49708A;
	border: 4px solid #456A83;
	border-radius: 10px;
	color: white;
	padding: 5px;
	font-size: 1.2em;
	margin: 20px auto 0 auto;
	text-align: left;
}
.opponent img {
	vertical-align: middle;
	padding-right: 10px;
	padding-left: 10px;
}

#own_card .card, #opposing_card .card {
	height: 60px;
	font-size: 0.8em;
	width: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 8px;
}
#own_card table, #opposing_card table {
	font-size: 0.8em;
	width: 80%;
	margin: 12px auto;
}
.firstpart img {
	width: 50px;
	height: 50px;
	padding: 5px 0;
}

.large #own_card .card, .large #opposing_card .card {
	height: 120px;
	font-size: 1.6em;
	width: 400px;
}
.large #own_card table, .large #opposing_card table {
	font-size: 0.9em;
}
.large .firstpart img {
	width: 90px;
	height: 90px;
	padding: 10px 0;
}

#own_card .firstpart, #own_card .secondpart, #opposing_card .firstpart, #opposing_card .secondpart {
	width: 50%;
}
#own_card .firstpart {
	float: left;
}
#own_card .secondpart {
	float: right;
}
#opposing_card .firstpart {
	float: right;
}
#opposing_card .secondpart {
	float: left;
}

#message {
	height: 50px;
}

#opposing_card, #own_card {
	height: 110px;
}

.large #opposing_card, .large #own_card {
	height: 185px;
}