* {
    font-family: Verdana;
}

body {
	text-align: center;
	background-color: white;
	/*color: white;*/
	/*background-color: #49708A;*/
}

#loading_layout {
	height: 100%;
	text-align: center;
}

#team {
	background-color: #dfd;
	border: 3px dashed #373;
	border-radius: 10px;
	height: 50px;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 1.1em;
}

#team img {
	margin: 0 2px;
	width: 50px;
	height: 50px;
	display: none;
}

.button {
	padding: 10px;
	font-size: 1.2em;
	border: 2px solid #696;
	border-radius: 10px;
	background-color: #AEA;
	display: inline-block;
	margin: 10px auto;
}

/*
 * Battle pageview
 */
.battle #spacer {
	height: 370px;
}

.battle #own_team, #opposing_team {
	margin: 0 auto;
}

.battle #card_spacer {
	height: 120px;
	clear: both;
}

.battle #message {
	position: absolute;
	top: 170px;
	font-weight: bold;
	padding: 10px;
	border: 2px solid black;
	margin: 0 auto;
	left: 10%;
	right: 10%;
	height: 50px;
}

.battle .half {
	width: 50%;
	float: left;
}

.battle .card {
    text-align: center;
}

.battle .opponent img {
	width: 50px;
	height: 50px;
}

.battle #save {
	margin: 20px auto;
	width: 150px;
	font-size: 1.2em;
	background-color: #dfd;
	border: 3px solid #373;
	padding: 20px;
	display: none;
	border-radius: 10px;
}

.battle .card .name {
    font-size: 1.15em;
	font-weight: bold;
	padding: 10px;
}

.battle table {
	width: 150px;
	padding: 10px;
	margin: 0 auto;
}


.battle td {
	font-weight: bold;
}

.battle td + td {
	font-weight: normal;
	width: 30px;
	text-align: right;
}

#iscroll_wrapper {
    position:relative;
    z-index:1;
    width: 500; /* your desired width, auto and 100% are fine */
    height: auto; /* element height */
    overflow: hidden; /* hidden|auto|scroll */
}

/*
 * PickOpponent style
 */
.pick_opponent ul, li {
	padding: 0;
	margin: 0;
	border: 0;
}

.pick_opponent #wrapper {
	position: absolute;
	z-index: 1;
	top: 50px;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: auto;
}

.pick_opponent #scroller {
	position: absolute;
	z-index: 1;
	/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	width: 100%;
	padding: 0;
}

.pick_opponent #scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}

.pick_opponent #scroller li {
	padding: 0 0;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
}


.pick_opponent img {
	vertical-align: middle;
}